<!-- After you are finished, feel free to remove the exercise definition -->
<!-- You can find all the exercise also in the readme.md file -->
<!-- Try to play with css to make the application preaty -->

<h3 class="page-title">Exercise Easy</h3>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th>Age Type</th>
      <th>identity</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <th>{{ user.user.nume }}</th>
      <th>{{ user.age.age }}</th>
      <th>{{ user.ageType.type }}</th>
      <th>{{ user.identity.type }}</th>
    </tr>
  </tbody>
</table>
<button (click)="orderByName()">Sorteaza dupa nume</button>
<button (click)="orderById()">Sorteaza dupa ID</button>
<button (click)="reset()">reseteaza</button>
